@import url("https://fonts.googleapis.com/css?family=Gaegu");

body {
  background-color: olive;
  font-family: "Gaegu", cursive;
}

.title {
  text-align: center;
  font-size: 50px;
  color: khaki;
}

.row {
  display: flex;
  justify-content: center;
}
.col {
  width: 100px;
  height: 100px;
  border: 2px solid darkslategrey;
  margin: 1px;
}
.col.checked {
  background-color: #dac292;
}
.reset {
  display: none;
}
.reset.show {
  display: inline-block;
}
// 위 두 코드는 같은 것
// .reset:not(.show) {
//   display: none;
// }
